<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jaydenho.androidtech">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".hotfix.MyTinkerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements"/>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".databinding.DataBindingAty"/>
        <activity
            android:name=".test.TestAty"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"/>
        <activity android:name=".test.TestAty2">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="vipshop"/>
            </intent-filter>
        </activity>
        <activity android:name=".widget.anim.AttrAty"/>
        <activity android:name=".widget.anim.ValueAnimatorAty"/>
        <activity android:name=".widget.anim.ShootIconAty"/>
        <activity android:name=".widget.view.BasicAttrsAty"/>
        <activity android:name=".widget.view.scroll.ScrollAty"/>
        <activity
            android:name=".test.TestListViewAty"/>
        <activity android:name=".widget.view.ViewPagerAty"/>
        <activity android:name=".widget.view.viewpager.InfiniteAutoScrollViewPagerActivity"/>
        <activity android:name=".hotfix.HotFixActivity"/>
        <activity android:name=".plugin.droidplugin.PluginActivity">
            <intent-filter>
                <action android:name="com.jaydenho.androidtech.plugin.droidplugin.PluginActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".plugin.droidplugin.PluginActivityStub"/>
        <activity android:name=".ipc.binder.AIDLActivity"/>
        <activity android:name=".MainActivity2"/>
        <activity android:name=".widget.recyclerview.RecyclerViewActivity"/>
        <activity android:name=".widget.view.custom.CustomViewAty"/>
        <activity android:name=".widget.view.window.WindowActivity"/>

        <service android:name=".widget.view.window.ToastIntentService">
            <intent-filter>
                <action android:name="com.jaydenho.androidtech.toastservice"/>
            </intent-filter>
        </service>
        <service android:name=".test.OppoNotiService"/>

    </application>

</manifest>