<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jaydenho.androidtech">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".hotfix.MyTinkerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements"/>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".databinding.DataBindingAty"/>
        <activity
            android:name=".test.TestAty"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"/>
        <activity android:name=".test.TestAty2">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="vipshop"/>
            </intent-filter>
        </activity>
        <activity android:name=".widget.anim.AttrAty"
            android:launchMode="singleTop"/>
        <activity android:name=".widget.anim.ValueAnimatorAty"/>
        <activity android:name=".widget.anim.ShootIconAty"/>
        <activity android:name=".widget.view.BasicAttrsAty"/>
        <activity android:name=".widget.view.scroll.ScrollAty"/>
        <activity
            android:name=".test.TestListViewAty"/>
        <activity android:name=".widget.view.ViewPagerAty"/>
        <activity android:name=".widget.view.viewpager.InfiniteAutoScrollViewPagerActivity"/>
        <activity android:name=".hotfix.HotFixActivity"/>
        <activity android:name=".plugin.droidplugin.PluginActivity">
            <intent-filter>
                <action android:name="com.jaydenho.androidtech.plugin.droidplugin.PluginActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".plugin.droidplugin.PluginActivityStub"/>
        <activity android:name=".ipc.binder.AIDLActivity"/>
        <activity android:name=".MainActivity2"/>
        <activity android:name=".widget.recyclerview.RecyclerViewActivity"/>
        <activity android:name=".widget.view.custom.CustomViewAty"/>
        <activity android:name=".widget.view.window.WindowActivity"/>
        <activity android:name=".widget.view.ConstraintLayoutActivity"/>
        <activity android:name=".profile.ProfileAty"/>
        <activity android:name=".hack.vpn.VpnActivity"/>
        <activity android:name=".intent.IntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data
                    android:mimeType="application/vnd.android.package-archive"
                    android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data
                    android:mimeType="application/vnd.android.package-archive"
                    android:scheme="content"/>
            </intent-filter>
        </activity>
        <activity android:name=".hack.vpn.SgToolVpnClient"/>

        <service android:name=".widget.view.window.ToastIntentService">
            <intent-filter>
                <action android:name="com.jaydenho.androidtech.toastservice"/>
            </intent-filter>
        </service>
        <service android:name=".test.OppoNotiService"/>

        <service
            android:name=".hack.vpn.SgToolVpnService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="jayden.example.VpnService"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".others.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.jaydenho.androidtech.learmalarmreceiver"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".test.systemreveiver.SystemReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED"/>
                <action android:name="android.intent.action.PACKAGE_RESTARTED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <provider
            android:name=".test.XLFileProvider"
            android:authorities="com.jayden.androidtech.XLFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>